body {
    background-color: #F9FAFC;
    font-family: 'Pangolin';
    color: white;
    font-size: 150%;
}

.navbar-toggler-icon {
    color: white;
}

.navbar {
    background-color: #23BBBB;
}

nav li {
    padding-right: 10%;
}

.logged-in-text {
    font-size: 75%;
}

nav a,
.nav-link {
    color: black;
}

nav a:hover,
.nav-link:hover {
    color: white;
}

.active {
    color: white;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #23BBBB;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #23BBBB;
}

.main-bg {
    background-color: black;
}

.card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 3px solid rgba(6, 148, 225, 0.589);
        border-radius: .25rem;
        color: black;
    }

.card-img-top {
    width: 100%;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    margin-top: 5%;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #23BBBB;
}

.post-title {
    margin-top: 5%;
    margin-left: 5%;
    color: white;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn {
    background-color: #061573;
    margin-bottom: 20%;
    color: white;
}

.btn:hover,
.btn:active {
    background-color: #6b0790;
    color: white;
}

hr {
    color: white;
}

#sign-in {
    text-align: center;
}

.img-fluid {
    margin-top: 3%;
}

.post-image {
    width: 100%;
}

.rounded-pill {
    border-radius: 50rem!important;
}

.dropdown-menu {
    background-color: #23BBBB;
    border: 2px solid white;
}