{% extends 'base.html' %}

{% block content %}

<header>
    <div class="container-fluid" id="image">
        <div class=" text-center">
            <img class="img-fluid"
                src="https://res.cloudinary.com/ddswglojm/image/upload/v1681743296/guildwars-2-hero-image_small_zvpkkq.jpg"
                alt="Background image">
            <div class="col-lg-6 mx-auto">
                <div class="caption">
                    <div class="text-center-caption">
                        <h1 class="post-title fw-bolder text-uppercase">Create a new post</h1>
                        <h6 class="post-subtitle fw-bold">Enter post details below:</h6>
                        <textarea id="editor1" name="editor1"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </header>

<form class="text-center m-3" action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    <script>
        CKEDITOR.replace('editor1');
    </script>
    {{ form.as_p }}
    <button class="btn btn-signup right" id="button">Post &raquo;</button>
</form>

<script>
    var name = "{{ user.id }}";
    document.getElementById("user").value = name;
</script>

{%endblock%}