{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Password Changed" %}{% endblock %}

{% block content %}

<header>
   <div class="container-fluid" id="image">
       <div class=" text-center">
           <img class="img-fluid"
               src="https://res.cloudinary.com/ddswglojm/image/upload/v1681743296/guildwars-2-hero-image_small_zvpkkq.jpg"
               alt="Background image">
           <div class="col-lg-6 mx-auto">
               <div class="caption">
                   <div class="text-center-caption">
                       <h1 class="post-title fw-bolder text-uppercase">Password changed</h1>
                       <h6 class="post-subtitle fw-bold">Password changed successfully</h6>
                   </div>
               </div>
           </div>
       </div>
   </div>
</header>

{% endblock %}